body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  position:absolute;
  left:100px;
  top:25px;
  width:251px;
  height:124px;
}
#u466 {
  position:absolute;
  left:2px;
  top:54px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  position:absolute;
  left:127px;
  top:54px;
  width:197px;
  height:20px;
}
#u468 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  position:absolute;
  left:120px;
  top:99px;
  width:79px;
  height:31px;
}
#u470 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471 {
  position:absolute;
  left:254px;
  top:99px;
  width:79px;
  height:31px;
}
#u472 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u473 {
  position:absolute;
  left:100px;
  top:236px;
  width:251px;
  height:124px;
}
#u474 {
  position:absolute;
  left:2px;
  top:54px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  position:absolute;
  left:127px;
  top:265px;
  width:197px;
  height:20px;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  position:absolute;
  left:120px;
  top:310px;
  width:79px;
  height:31px;
}
#u478 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u479 {
  position:absolute;
  left:254px;
  top:310px;
  width:79px;
  height:31px;
}
#u480 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:171px;
}
#u481 {
  position:absolute;
  left:100px;
  top:468px;
  width:251px;
  height:170px;
}
#u482 {
  position:absolute;
  left:2px;
  top:77px;
  width:247px;
  word-wrap:break-word;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u483 {
  position:absolute;
  left:333px;
  top:448px;
  width:32px;
  height:32px;
  font-size:16px;
}
#u484 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  word-wrap:break-word;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  position:absolute;
  left:369px;
  top:54px;
  width:127px;
  height:20px;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  position:absolute;
  left:369px;
  top:288px;
  width:57px;
  height:20px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  position:absolute;
  left:51px;
  top:9px;
  width:475px;
  height:377px;
}
#u490 {
  position:absolute;
  left:2px;
  top:180px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u491 {
  position:absolute;
  left:545px;
  top:188px;
  width:225px;
  height:20px;
}
#u492 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
